@use "../../../shared/styles/variables.scss" as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: $space-2;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: $space-3;
}
.label {
  color: $grey-70;
}

.value {
  color: $navy;
}
