@use "../../../../styles/variables.scss" as *;

.header {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-left: $space-5;
  padding-right: $space-3;
  padding-top: $space-3;
}
.header:not(:first-child) {
  border-top: 1px solid $grey-30;
}
.header svg {
  color: $grey-70;
}
