@use "./variables.scss" as *;

@mixin text-body {
    font-size: $fz-body;
    line-height: $lh-body;
    font-weight: $fw-regular;
}

@mixin text-small {
    font-size: $fz-small;
    line-height: $lh-small;
    font-weight: $fw-regular;
}

@mixin heading-h4 {
    font-size: $fz-h4;
    line-height: $lh-h4;
    font-weight: $fw-bold;
}

@mixin surface-card {
    background-color: $grey-10;
    border: 1px solid $grey-30;
    border-radius: $radius-md;
}
