@use "../../../shared/styles/variables.scss" as *;

.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-50;
}

.card {
  width: min(620px, calc(100vw - 32px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  border-radius: $radius-md;
}

.header {
  width: 100%;
}

.title {
  font-size: $fz-h1;
  line-height: $lh-h1;
  font-weight: $fw-bold;
  text-align: center;
  padding: $space-3;
}

.content {
  display: flex;
  flex-direction: column;
  padding-inline: $space-6;
}
