@use "../../../styles/variables.scss" as *;

.backdrop {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: 100%;
  padding-inline: $space-5;
  padding-bottom: $space-5;
}
