@use "../../../../styles/variables.scss" as *;

.overlay {
  position: fixed;
  inset: 0;
  background-color: $black-50;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}