@use "../../../../styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: $space-3;
  color: $navy;
}
.small {
  width: 240px;
}
.medium {
  width: 400px;
}
.large {
  width: 620px;
}
